<!doctype html>
<html lang="en">
<head>
    <title>FPL FAST</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<h1>FPL FAST</h1>
<div class="d-flex p-2">
    <table id="league_table" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Team</th>
            <th>User</th>
            <th>GW</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        <tr>
            <td><a href="https://fantasy.premierleague.com/a/team/{{ team.id }}">{{ team.name }}</a></td>
            <td>{{ team.player_first_name }} {{ team.player_last_name }}</td>
            <td>{{ team.summary_event_points }}</td>
            <td>{{ team.summary_overall_points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex p-2">
    <table id="player_table" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Points</th>
            <th>Selected %</th>
            <th>Captain %</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.team }}</td>
            <td>{{ player.points }}</td>
            <td>{{ player.selected_by_prct }}</td>
            <td>{{ player.captain_by_prct }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>